/*###############@media queari#########*/
@media (max-width: 1399px){
	header{
		background-image: url(../images/bg1.png);
	}
.about-section {
    background-size: 800px !important;
    padding-top: 0px;
}
	
}

.question-section h1 {
    font-size: 25px;
    line-height: 1.3;
}





/* media 1199px strt  */
@media (max-width: 1199px){
	header {
    background-color: #37517E;
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right;
}

	header h1 {
    font-size: 30px;
    font-weight: 450;
    line-height: 1;
}
header p {
    font-size: 14px;
    margin: 20px 0;
    line-height: 1.7;
    font-weight: 450;
}
.banner-content a {
	padding-top: 10px !important;
	padding-bottom:10px !important; 
}
.banner-content a i{
	font-size: 30px;

}
.partner-logo .row div{
  padding: 2rem !important;
}

.features h1 {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.features p {
    line-height: 1.7;
    font-size: 15px;
}
.features a {
 	 margin-top: 10px;
}
.about-section {
    background-size: 600px;
}

.about-section h1{
		font-size: 28px;

	}
}
.question-section ul li {
    font-size: 14px;
}
/*media 1199 end*/

/*media 991 start*/
@media (max-width: 991px){
	header {
    background-color: #37517E;
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: flex-end;
}
.partner-logo .row div{
  padding: 2rem !important;
}

.features-padding {
    padding-top: 30px;
}



}
.about-section{
	background-size: 500px;
	padding-top: 0px;
}

.about-section h1{
		font-size: 22px;

	}
}
/*media 991 end */

	

@media (max-width: 767px){
	header {
    background-image: url()!important;
}
.banner-content{
	text-align: center;
}
header h1{
	font-size: 42px;
}
.partner-logo .row div{
  padding: 2rem !important;
}
.about-section{
		background-image: url();
		background-size: 0 !important;
	}
.banner-content {
    padding-top: 0px;
}

.about-section{
	background-size: 0;
	padding-top: 0px !important ;
}



}
@media (max-width: 575px){
	 header h1 {
    font-size: 24px;
 }
	.banner-content{
		padding-top:50px !important;
		padding-bottom: 50px !important; 
	}
	.banner-content a{
		margin-bottom: 15px; 
	} 
	header{
		background-image:url() !important;
	}
	

	.partnerlogo .row div{
	padding:1rem 10px !important;
		}
		 .features{
		    margin-bottom: 25px;
		}
		.features.features-padding{
			text-align: center !important;
		}
		.features.features-padding a{
			justify-content: center;
		}
		.features h1{
		    font-size: 20px !important;
		}

		.about-section{
			background-size: 0;
			padding-top: 0px !important ;
		}
		.about-section {
    		background-image: url()!important;
    	}
    	header h1 {
    	font-size: 34px !important;
}
		.features h1 {
		    font-size: 28px !important;
}

.about-section h1 {
	    font-size: 25px;
	    margin-left: 50px !important;
	}
.large-range-section .heading h1 {
    font-size: 26px !important;
}
.heading h1 {
    font-size: 23px !important;
    margin-bottom: 11px !important;
}
.heading h1 {
    font-size: 23px !important;
    margin-bottom: 20px !important;
}
.price-table {
    margin-bottom: 10px !important;
 }



}
@media (min-width: 576){
	.partnerlogo .row div{
	padding:1rem 0px !important;
}
header {
    background-image: url() !important;
}